.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  width: 100%;
}

.welcome-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}
