.patients-dropdown {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.patients-dropdown p {
  margin: 0 1em;
}

.upload-file-button {
  width: initial;
  font-size: 1em;
  padding: 0 2em;
  font-weight: 500;
}
