.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 60vw;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.form form [class="checkbox"] {
  align-self: flex-start;
}
